<div class="container-xl">

  <div class="title-block">
    <ng-container *ngIf="!rbfTransaction || rbfTransaction?.size || tx">
      <h1 i18n="shared.transaction">Transaction</h1>

      <span class="tx-link">
        <span class="txid">
          <app-truncate [text]="txId" [lastChars]="12" [link]="['/tx/' | relativeUrl, txId]">
            <app-clipboard [text]="txId"></app-clipboard>
          </app-truncate>
        </span>
      </span>

      <div class="container-buttons">
        <app-confirmations
          *ngIf="tx"
          [chainTip]="latestBlock?.height"
          [height]="tx?.status?.block_height"
          [replaced]="replaced"
          [removed]="this.rbfInfo?.mined && !this.tx?.status?.confirmed"
          [cached]="isCached"
        ></app-confirmations>
      </div>
    </ng-container>
  </div>
  <div class="clearfix"></div>

  @if (!error) {
    <app-transaction-details
      [network]="network"
      [tx]="tx"
      [isLoadingTx]="isLoadingTx"
      [isMobile]="isMobile"
      [transactionTime]="transactionTime"
      [isLoadingFirstSeen]="isLoadingFirstSeen"
      [featuresEnabled]="featuresEnabled"
      [auditStatus]="auditStatus"
      [filters]="filters"
      [miningStats]="miningStats"
      [pool]="pool"
      [isAcceleration]="isAcceleration"
      [acceleratorAvailable]="acceleratorAvailable"
      [accelerateCtaType]="accelerateCtaType"
      [notAcceleratedOnLoad]="notAcceleratedOnLoad"
      [showAccelerationSummary]="showAccelerationSummary"
      [eligibleForAcceleration]="eligibleForAcceleration"
      [hasEffectiveFeeRate]="hasEffectiveFeeRate"
      [cpfpInfo]="cpfpInfo"
      [hasCpfp]="hasCpfp"
      [cpfpMode]="cpfpMode"
      [accelerationInfo]="accelerationInfo"
      [replaced]="replaced"
      [isCached]="isCached"
      [ETA$]="ETA$"
      (accelerateClicked)="onAccelerateClicked()"
      (toggleCpfp$)="toggleCpfp()"
    ></app-transaction-details>
  }

  <ng-template [ngIf]="!isLoadingTx && !error">

    <!-- CPFP Details -->
    <ng-container *ngIf="cpfpMode && hasCpfp">
      <span id="cluster" #cluster class="anchor"></span>
      <br>
      <div class="title float-start">
        <h2 *ngIf="cpfpInfo?.cluster && !isAcceleration" i18n="transaction.cluster|Cluster">Cluster</h2>
        <h2 *ngIf="!cpfpInfo?.cluster || isAcceleration" i18n="transaction.related-transactions|CPFP List">Related Transactions</h2>
      </div>
      <button type="button" class="btn btn-outline-info btn-sm float-end" (click)="toggleCpfp()" i18n="hide">Hide</button>
      <div class="clearfix"></div>
      <ng-container *ngIf="cpfpInfo?.cluster && !isAcceleration; else legacyCpfp">
        <div class="box">
          <app-cluster-diagram
            [cluster]="cpfpInfo.cluster" [txid]="tx.txid">
          </app-cluster-diagram>
        </div>
      </ng-container>
      <ng-template #legacyCpfp>
        <app-cpfp-info [cpfpInfo]="cpfpInfo" [tx]="tx"></app-cpfp-info>
      </ng-template>
    </ng-container>

    <!-- Accelerator -->
    <ng-container *ngIf="!tx?.status?.confirmed && showAccelerationSummary && (ETA$ | async) as eta;">
      <span id='accelerate' #accelerate class="anchor"></span>
      <br>
      <div class="title float-start mb-1">
        <h2><a [href]="[ isMempoolSpaceBuild ? '/accelerator' : 'https://mempool.space/accelerator']" [target]="isMempoolSpaceBuild ? '' : 'blank'"><app-svg-images name="accelerator" [height]="isMobile ? '35px' : '45px'"></app-svg-images></a></h2>
      </div>
      <button type="button" class="btn btn-outline-info accelerator-toggle btn-sm float-end" [class.hide-on-mobile]="hasAccelerationDetails" (click)="closeAccelerator()" i18n="accelerator.hide">Hide accelerator</button>
      <button *ngIf="hasAccelerationDetails" class="btn btn-sm btn-outline-info details-button float-end ms-2" (click)="showAccelerationDetails = !showAccelerationDetails" i18n="transaction.details|Transaction Details">Details</button>

      <div class="clearfix"></div>

      <app-accelerate-checkout
        *ngIf="(da$ | async) as da;"
        [advancedEnabled]="true"
        [tx]="tx"
        [accelerating]="isAcceleration"
        [eta]="eta"
        [miningStats]="miningStats"
        [showDetails]="showAccelerationDetails"
        [noCTA]="true"
        [partnerCode]="this.partnerCode"
        (hasDetails)="setHasAccelerationDetails($event)"
        (completed)="onAccelerationCompleted()"
        (unavailable)="eligibleForAcceleration = false"
        class="h-100 w-100"
      ></app-accelerate-checkout>
    </ng-container>

    <br>

    <ng-container *ngIf="transactionTime > 0 && tx.acceleratedAt > 0 && (isAcceleration || accelerationCanceled)">
      <div class="title float-start">
        <h2 id="acceleration-timeline" i18n="transaction.acceleration-timeline|Acceleration Timeline">Acceleration Timeline</h2>
      </div>
      <div class="clearfix"></div>
      <app-acceleration-timeline [transactionTime]="transactionTime" [acceleratedAt]="tx.acceleratedAt" [tx]="tx" [accelerationInfo]="accelerationInfo" [eta]="(ETA$ | async)" [canceled]="accelerationCanceled"></app-acceleration-timeline>
      <br>
    </ng-container>

    <ng-container *ngIf="tx?.ethereum">
      <br>

      <div class="subtitle-block">
        <div class="title">
          <h2 id="state" class="anchor">State</h2>
        </div>
      </div>

      <app-transactions-list #txList [transactions]="[tx]" [cached]="isCached" [errorUnblinded]="errorUnblinded" [inputIndex]="inputIndex" [outputIndex]="outputIndex" [transactionPage]="true"></app-transactions-list>
    </ng-container>

    <ng-container *ngIf="!tx?.ethereum">
      <br>

      <div class="subtitle-block">
        <div class="title">
          <h2>From &amp; To</h2>
        </div>
      </div>

      <app-transactions-list #txList [transactions]="[tx]" [cached]="isCached" [errorUnblinded]="errorUnblinded" [inputIndex]="inputIndex" [outputIndex]="outputIndex" [transactionPage]="true"></app-transactions-list>
    </ng-container>

    <br>

    <div class="title text-start">
      <h2 i18n="transaction.details|Transaction Details">Details</h2>
    </div>
    <div class="box ethereum-details">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Input data</td>
                <td [innerHTML]="'&lrm;' + (tx.size | bytes: 2)"></td>
              </tr>
              <tr>
                <td>Gas used</td>
                <td>
                  <ng-container *ngIf="tx?.ethereum; else legacyGasUsed">
                    {{ tx.ethereum.gasUsed ? formatEthereumInteger(tx.ethereum.gasUsed) + ' gas' : 'Not executed' }}
                  </ng-container>
                  <ng-template #legacyGasUsed>&lrm;{{ tx.weight / 4 | number }} gas</ng-template>
                </td>
              </tr>
              <tr *ngIf="tx?.ethereum?.gasLimit">
                <td>Gas limit</td>
                <td>&lrm;{{ formatEthereumInteger(tx.ethereum.gasLimit) }} gas</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.feeWei || tx?.ethereum?.maximumFeeWei">
                <td>{{ tx.ethereum.maximumFeeWei ? 'Maximum fee' : 'Transaction fee' }}</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.maximumFeeWei || tx.ethereum.feeWei, '18') }} ETH <span class="fiat"><app-fiat [blockConversion]="tx.price" [value]="tx.fee"></app-fiat></span></td>
              </tr>
              <tr *ngIf="tx?.ethereum?.blobFeeWei">
                <td>Execution fee</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.executionFeeWei, '18') }} ETH <span class="fiat"><app-fiat [blockConversion]="tx.price" [value]="ethereumWeiNumber(tx.ethereum.executionFeeWei)"></app-fiat></span></td>
              </tr>
              <tr *ngIf="tx?.ethereum?.blobFeeWei">
                <td>Blob fee</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.blobFeeWei, '18') }} ETH <span class="fiat"><app-fiat [blockConversion]="tx.price" [value]="ethereumWeiNumber(tx.ethereum.blobFeeWei)"></app-fiat></span></td>
              </tr>
              <tr *ngIf="tx?.ethereum?.maximumBlobFeeWei">
                <td>Maximum blob fee</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.maximumBlobFeeWei, '18') }} ETH <span class="fiat"><app-fiat [blockConversion]="tx.price" [value]="ethereumWeiNumber(tx.ethereum.maximumBlobFeeWei)"></app-fiat></span></td>
              </tr>
              <tr *ngIf="tx?.ethereum?.blobGasUsed">
                <td>Blob gas used</td>
                <td>&lrm;{{ formatEthereumInteger(tx.ethereum.blobGasUsed) }} blob gas</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Transaction type</td>
                <td>&lrm;Type {{ tx?.ethereum?.type || tx.version }}</td>
              </tr>
              <tr>
                <td>Nonce</td>
                <td>&lrm;{{ tx?.ethereum?.nonce ? formatEthereumInteger(tx.ethereum.nonce) : (tx.vin[0]?.sequence | number) }}</td>
              </tr>
              <tr>
                <td>Method</td>
                <td class="ethereum-detail-method">{{ ethereumMethod() }}</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.gasPriceWei">
                <td>{{ tx.ethereum.maximumFeeWei ? 'Maximum fee per gas' : 'Gas price' }}</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.maximumFeeWei ? (tx.ethereum.maxFeePerGasWei || tx.ethereum.gasPriceWei) : tx.ethereum.gasPriceWei, '9', 4) }} gwei</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.blobGasPriceWei">
                <td>Blob gas price</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.blobGasPriceWei, '9', 4) }} gwei</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.maxFeePerBlobGasWei">
                <td>Maximum blob fee per gas</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.maxFeePerBlobGasWei, '9', 4) }} gwei</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.revertReason">
                <td>Revert reason</td>
                <td class="ethereum-detail-error">{{ tx.ethereum.revertReason }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="(isLoadingTx && !error) || loadingCachedTx">
    <br>

    <div class="title">
      <h2>From &amp; To</h2>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br>

    <div class="title">
      <h2 i18n="transaction.details|Transaction Details">Details</h2>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="error && !loadingCachedTx">

    <div class="text-center" *ngIf="waitingForTransaction; else errorTemplate">
      <h3 i18n="transaction.error.transaction-not-found">Transaction not found.</h3>
      <h5 i18n="transaction.error.waiting-for-it-to-appear">Waiting for it to appear in the mempool...</h5>
      <div class="spinner-border text-light mt-2"></div>
    </div>

    <ng-template #errorTemplate>
      <app-http-error [error]="error">
        <span i18n="transaction.error.loading-transaction-data">Error loading transaction data.</span>
      </app-http-error>
    </ng-template>
  </ng-template>

</div>
