<div class="container-xl">

  <div class="title-block">
    <ng-container *ngIf="!rbfTransaction || rbfTransaction?.size || tx">
      <h1 i18n="shared.transaction">Transaction</h1>

      <span class="tx-link">
        <span class="txid">
          <app-truncate [text]="txId" [lastChars]="12" [link]="['/tx/' | relativeUrl, txId]">
            <app-clipboard [text]="txId"></app-clipboard>
          </app-truncate>
        </span>
      </span>

      <div class="container-buttons">
        <app-confirmations
          *ngIf="tx"
          [chainTip]="latestBlock?.height"
          [height]="tx?.status?.block_height"
          [replaced]="replaced"
          [removed]="this.rbfInfo?.mined && !this.tx?.status?.confirmed"
          [cached]="isCached"
        ></app-confirmations>
      </div>
    </ng-container>
  </div>
  <div class="clearfix"></div>

  @if (!error) {
    <app-transaction-details
      [network]="network"
      [tx]="tx"
      [isLoadingTx]="isLoadingTx"
      [isMobile]="isMobile"
      [transactionTime]="transactionTime"
      [isLoadingFirstSeen]="isLoadingFirstSeen"
      [featuresEnabled]="featuresEnabled"
      [auditStatus]="auditStatus"
      [filters]="filters"
      [miningStats]="miningStats"
      [pool]="pool"
      [isAcceleration]="isAcceleration"
      [acceleratorAvailable]="acceleratorAvailable"
      [accelerateCtaType]="accelerateCtaType"
      [notAcceleratedOnLoad]="notAcceleratedOnLoad"
      [showAccelerationSummary]="showAccelerationSummary"
      [eligibleForAcceleration]="eligibleForAcceleration"
      [hasEffectiveFeeRate]="hasEffectiveFeeRate"
      [cpfpInfo]="cpfpInfo"
      [hasCpfp]="hasCpfp"
      [cpfpMode]="cpfpMode"
      [accelerationInfo]="accelerationInfo"
      [replaced]="replaced"
      [isCached]="isCached"
      [ETA$]="ETA$"
      (accelerateClicked)="onAccelerateClicked()"
      (toggleCpfp$)="toggleCpfp()"
    ></app-transaction-details>
  }

  <ng-template [ngIf]="!isLoadingTx && !error">

    <!-- CPFP Details -->
    <ng-container *ngIf="cpfpMode && hasCpfp">
      <span id="cluster" #cluster class="anchor"></span>
      <br>
      <div class="title float-start">
        <h2 *ngIf="cpfpInfo?.cluster && !isAcceleration" i18n="transaction.cluster|Cluster">Cluster</h2>
        <h2 *ngIf="!cpfpInfo?.cluster || isAcceleration" i18n="transaction.related-transactions|CPFP List">Related Transactions</h2>
      </div>
      <button type="button" class="btn btn-outline-info btn-sm float-end" (click)="toggleCpfp()" i18n="hide">Hide</button>
      <div class="clearfix"></div>
      <ng-container *ngIf="cpfpInfo?.cluster && !isAcceleration; else legacyCpfp">
        <div class="box">
          <app-cluster-diagram
            [cluster]="cpfpInfo.cluster" [txid]="tx.txid">
          </app-cluster-diagram>
        </div>
      </ng-container>
      <ng-template #legacyCpfp>
        <app-cpfp-info [cpfpInfo]="cpfpInfo" [tx]="tx"></app-cpfp-info>
      </ng-template>
    </ng-container>

    <!-- Accelerator -->
    <ng-container *ngIf="!tx?.status?.confirmed && showAccelerationSummary && (ETA$ | async) as eta;">
      <span id='accelerate' #accelerate class="anchor"></span>
      <br>
      <div class="title float-start mb-1">
        <h2><a [href]="[ isMempoolSpaceBuild ? '/accelerator' : 'https://mempool.space/accelerator']" [target]="isMempoolSpaceBuild ? '' : 'blank'"><app-svg-images name="accelerator" [height]="isMobile ? '35px' : '45px'"></app-svg-images></a></h2>
      </div>
      <button type="button" class="btn btn-outline-info accelerator-toggle btn-sm float-end" [class.hide-on-mobile]="hasAccelerationDetails" (click)="closeAccelerator()" i18n="accelerator.hide">Hide accelerator</button>
      <button *ngIf="hasAccelerationDetails" class="btn btn-sm btn-outline-info details-button float-end ms-2" (click)="showAccelerationDetails = !showAccelerationDetails" i18n="transaction.details|Transaction Details">Details</button>

      <div class="clearfix"></div>

      <app-accelerate-checkout
        *ngIf="(da$ | async) as da;"
        [advancedEnabled]="true"
        [tx]="tx"
        [accelerating]="isAcceleration"
        [eta]="eta"
        [miningStats]="miningStats"
        [showDetails]="showAccelerationDetails"
        [noCTA]="true"
        [partnerCode]="this.partnerCode"
        (hasDetails)="setHasAccelerationDetails($event)"
        (completed)="onAccelerationCompleted()"
        (unavailable)="eligibleForAcceleration = false"
        class="h-100 w-100"
      ></app-accelerate-checkout>
    </ng-container>

    <br>

    <ng-container *ngIf="transactionTime > 0 && tx.acceleratedAt > 0 && (isAcceleration || accelerationCanceled)">
      <div class="title float-start">
        <h2 id="acceleration-timeline" i18n="transaction.acceleration-timeline|Acceleration Timeline">Acceleration Timeline</h2>
      </div>
      <div class="clearfix"></div>
      <app-acceleration-timeline [transactionTime]="transactionTime" [acceleratedAt]="tx.acceleratedAt" [tx]="tx" [accelerationInfo]="accelerationInfo" [eta]="(ETA$ | async)" [canceled]="accelerationCanceled"></app-acceleration-timeline>
      <br>
    </ng-container>

    <section *ngIf="tx?.ethereum" class="ethereum-state-section" aria-labelledby="state">
      <div class="title">
        <h2 id="state" class="anchor">State</h2>
      </div>

      <div class="box ethereum-state">
        <div class="row ethereum-state__summary">
          <div class="col-sm ethereum-state__party">
            <span class="ethereum-state__label">Initiator</span>
            <ng-container *ngIf="tx?.ethereum?.from as sender; else rawEthereumStateSender">
              <app-ethereum-identity
                [entity]="sender"
                [link]="ethereumAddressLink(sender.address)"
              ></app-ethereum-identity>
            </ng-container>
            <ng-template #rawEthereumStateSender>
              <ng-container *ngIf="ethereumSender; else unknownEthereumStateSender">
                <app-truncate [text]="ethereumSender" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumSender]">
                  <app-clipboard [text]="ethereumSender"></app-clipboard>
                </app-truncate>
              </ng-container>
            </ng-template>
            <ng-template #unknownEthereumStateSender><span class="text-muted">Unknown account</span></ng-template>
          </div>

          <div class="col-sm ethereum-state__execution">
            <span class="ethereum-state__label">Execution</span>
            <span class="ethereum-state__activity">{{ ethereumStateActivity }}</span>
            <span *ngIf="ethereumFlowMethod as method" class="ethereum-state__method text-muted" [title]="method">{{ method }}</span>
            <a *ngIf="ethereumBlockLink(tx?.status?.block_height) as blockLink; else pendingEthereumState" [href]="blockLink">
              Block {{ tx?.status?.block_height | number }}
            </a>
            <ng-template #pendingEthereumState><span class="text-muted">Awaiting a block</span></ng-template>
            <span class="badge" [ngClass]="ethereumStateStatusClass">{{ ethereumStateStatus }}</span>
          </div>

          <div class="col-sm ethereum-state__party ethereum-state__party--target">
            <span class="ethereum-state__label">{{ ethereumStateTargetLabel }}</span>
            <ng-container *ngIf="tx?.ethereum?.to as recipient; else createdEthereumStateContract">
              <app-ethereum-identity
                [entity]="recipient"
                [link]="ethereumAddressLink(recipient.address)"
              ></app-ethereum-identity>
            </ng-container>
            <ng-template #createdEthereumStateContract>
              <ng-container *ngIf="tx?.ethereum?.createdContract as contract; else rawEthereumStateRecipient">
                <app-ethereum-identity
                  [entity]="contract"
                  [link]="ethereumAddressLink(contract.address)"
                ></app-ethereum-identity>
              </ng-container>
            </ng-template>
            <ng-template #rawEthereumStateRecipient>
              <ng-container *ngIf="ethereumRecipient; else newEthereumStateContract">
                <app-truncate [text]="ethereumRecipient" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumRecipient]">
                  <app-clipboard [text]="ethereumRecipient"></app-clipboard>
                </app-truncate>
              </ng-container>
            </ng-template>
            <ng-template #newEthereumStateContract><span class="text-muted">New contract</span></ng-template>
          </div>
        </div>

        <div *ngIf="ethereumAssetFlows.length" class="ethereum-state__graph" aria-label="Observed asset flow">
          <tx-bowtie-graph
            [tx]="tx"
            [cached]="true"
            [width]="ethereumFlowGraphWidth"
            [height]="ethereumFlowGraphHeight"
            [lineLimit]="32"
            [maxCombinedWeight]="ethereumFlowMaxCombinedWeight"
            [maxStrands]="ethereumAssetFlows.length"
            [network]="network"
            [tooltip]="false"
            [connectors]="false"
            [inputIndex]="null"
            [outputIndex]="null"
            [assetFlows]="ethereumAssetFlows"
          ></tx-bowtie-graph>
        </div>

        <div class="table-responsive">
          <table class="table table-borderless table-striped ethereum-state__table">
            <thead>
              <tr>
                <th>Account</th>
                <th>Observed change</th>
                <th>Effect</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="ethereumValueWei && ethereumValueWei !== '0'">
                <td class="ethereum-state__account" data-label="Account">
                  <ng-container *ngIf="tx?.ethereum?.from as sender; else rawEthereumStateValueSender">
                    <app-ethereum-identity [entity]="sender" [compact]="true" [link]="ethereumAddressLink(sender.address)"></app-ethereum-identity>
                  </ng-container>
                  <ng-template #rawEthereumStateValueSender>
                    <app-truncate [text]="ethereumSender" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumSender]"></app-truncate>
                  </ng-template>
                </td>
                <td data-label="Observed change">
                  <span>{{ ethereumStateActivity === 'Contract call' ? 'Call value' : 'Native balance' }}</span>
                  <span class="ethereum-state__counterparty">
                    <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                    <ng-container *ngIf="tx?.ethereum?.to as recipient; else rawEthereumStateValueRecipient">
                      <app-ethereum-identity [entity]="recipient" [compact]="true" [link]="ethereumAddressLink(recipient.address)"></app-ethereum-identity>
                    </ng-container>
                    <ng-template #rawEthereumStateValueRecipient>
                      <app-truncate [text]="ethereumRecipient" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumRecipient]"></app-truncate>
                    </ng-template>
                  </span>
                </td>
                <td class="ethereum-state__effect" data-label="Effect" [title]="formatEthereumQuantity(ethereumValueWei, '18', 36)">
                  {{ formatEthereumQuantity(ethereumValueWei, '18') }} ETH
                </td>
              </tr>

              <tr *ngFor="let transfer of ethereumVisibleTokenTransfers">
                <td class="ethereum-state__account" data-label="Account">
                  <ng-container *ngIf="transfer.from as sender; else rawEthereumStateTokenSender">
                    <app-ethereum-identity [entity]="sender" [compact]="true" [link]="ethereumAddressLink(sender.address)"></app-ethereum-identity>
                  </ng-container>
                  <ng-template #rawEthereumStateTokenSender>
                    <app-truncate [text]="transfer.from?.address || ethereumSender" [lastChars]="8" [link]="['/address/' | relativeUrl, transfer.from?.address || ethereumSender]"></app-truncate>
                  </ng-template>
                </td>
                <td data-label="Observed change">
                  <app-ethereum-identity
                    [entity]="transfer.token"
                    [compact]="true"
                    [link]="ethereumTokenLink(transfer.token.address)"
                  ></app-ethereum-identity>
                  <span class="ethereum-state__counterparty">
                    <fa-icon [icon]="['fas', 'arrow-alt-circle-right']" [fixedWidth]="true"></fa-icon>
                    <ng-container *ngIf="transfer.to as recipient; else rawEthereumStateTokenRecipient">
                      <app-ethereum-identity [entity]="recipient" [compact]="true" [link]="ethereumAddressLink(recipient.address)"></app-ethereum-identity>
                    </ng-container>
                    <ng-template #rawEthereumStateTokenRecipient>
                      <app-truncate [text]="transfer.to?.address || ethereumRecipient" [lastChars]="8" [link]="['/address/' | relativeUrl, transfer.to?.address || ethereumRecipient]"></app-truncate>
                    </ng-template>
                  </span>
                </td>
                <td class="ethereum-state__effect" data-label="Effect" [title]="ethereumTransferAmount(transfer)">
                  {{ ethereumTransferAmount(transfer) }}
                </td>
              </tr>

              <tr *ngIf="tx?.ethereum?.feeWei">
                <td class="ethereum-state__account" data-label="Account">
                  <ng-container *ngIf="tx?.ethereum?.from as sender; else rawEthereumStateFeeSender">
                    <app-ethereum-identity [entity]="sender" [compact]="true" [link]="ethereumAddressLink(sender.address)"></app-ethereum-identity>
                  </ng-container>
                  <ng-template #rawEthereumStateFeeSender>
                    <app-truncate [text]="ethereumSender" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumSender]"></app-truncate>
                  </ng-template>
                </td>
                <td data-label="Observed change">
                  <span>Network fee</span>
                  <small *ngIf="tx?.ethereum?.gasUsed" class="ethereum-state__detail text-muted">
                    {{ formatEthereumInteger(tx.ethereum.gasUsed) }} gas used
                  </small>
                </td>
                <td class="ethereum-state__effect" data-label="Effect" [title]="formatEthereumQuantity(tx.ethereum.feeWei, '18', 36)">
                  {{ formatEthereumQuantity(tx.ethereum.feeWei, '18') }} ETH
                </td>
              </tr>

              <tr *ngIf="tx?.ethereum?.nonce !== undefined && tx?.ethereum?.nonce !== null">
                <td class="ethereum-state__account" data-label="Account">
                  <ng-container *ngIf="tx?.ethereum?.from as sender; else rawEthereumStateNonceSender">
                    <app-ethereum-identity [entity]="sender" [compact]="true" [link]="ethereumAddressLink(sender.address)"></app-ethereum-identity>
                  </ng-container>
                  <ng-template #rawEthereumStateNonceSender>
                    <app-truncate [text]="ethereumSender" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumSender]"></app-truncate>
                  </ng-template>
                </td>
                <td data-label="Observed change">Execution nonce</td>
                <td class="ethereum-state__effect" data-label="Effect">#{{ formatEthereumInteger(tx.ethereum.nonce) }}</td>
              </tr>

              <tr>
                <td class="ethereum-state__account" data-label="Account">
                  <ng-container *ngIf="tx?.ethereum?.to as recipient; else rawEthereumStateResultTarget">
                    <app-ethereum-identity [entity]="recipient" [compact]="true" [link]="ethereumAddressLink(recipient.address)"></app-ethereum-identity>
                  </ng-container>
                  <ng-template #rawEthereumStateResultTarget>
                    <app-truncate [text]="ethereumRecipient" [lastChars]="8" [link]="['/address/' | relativeUrl, ethereumRecipient]"></app-truncate>
                  </ng-template>
                </td>
                <td data-label="Observed change">
                  <span>Execution result</span>
                  <small *ngIf="tx?.ethereum?.revertReason" class="ethereum-state__detail text-muted">{{ tx.ethereum.revertReason }}</small>
                </td>
                <td class="ethereum-state__effect" data-label="Effect"><span class="badge" [ngClass]="ethereumStateStatusClass">{{ ethereumStateStatus }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="ethereumHiddenTokenTransferCount" class="ethereum-state__more">
          <button type="button" class="btn btn-outline-info btn-sm" (click)="toggleEthereumTokenTransfers()">
            {{ showAllEthereumTokenTransfers ? 'Show fewer token movements' : 'Show ' + ethereumHiddenTokenTransferCount + ' more token movements' }}
          </button>
        </div>

        <p *ngIf="ethereumStateNotice" class="ethereum-state__notice text-muted">{{ ethereumStateNotice }}</p>
      </div>
    </section>

    <ng-container *ngIf="!tx?.ethereum">
      <br>

      <div class="subtitle-block">
        <div class="title">
          <h2>From &amp; To</h2>
        </div>
      </div>

      <app-transactions-list #txList [transactions]="[tx]" [cached]="isCached" [errorUnblinded]="errorUnblinded" [inputIndex]="inputIndex" [outputIndex]="outputIndex" [transactionPage]="true"></app-transactions-list>
    </ng-container>

    <br>

    <div class="title text-start">
      <h2 i18n="transaction.details|Transaction Details">Details</h2>
    </div>
    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Input data</td>
                <td [innerHTML]="'&lrm;' + (tx.size | bytes: 2)"></td>
              </tr>
              <tr>
                <td>Gas used</td>
                <td>&lrm;{{ tx?.ethereum?.gasUsed ? formatEthereumInteger(tx.ethereum.gasUsed) : (tx.weight / 4 | number) }} gas</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.gasLimit">
                <td>Gas limit</td>
                <td>&lrm;{{ formatEthereumInteger(tx.ethereum.gasLimit) }} gas</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.feeWei">
                <td>Transaction fee</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.feeWei, '18') }} ETH</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td>Transaction type</td>
                <td>&lrm;Type {{ tx?.ethereum?.type || tx.version }}</td>
              </tr>
              <tr>
                <td>Nonce</td>
                <td>&lrm;{{ tx?.ethereum?.nonce ? formatEthereumInteger(tx.ethereum.nonce) : (tx.vin[0]?.sequence | number) }}</td>
              </tr>
              <tr>
                <td>Method</td>
                <td class="ethereum-detail-method">{{ ethereumMethod() }}</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.gasPriceWei">
                <td>Gas price</td>
                <td>&lrm;{{ formatEthereumQuantity(tx.ethereum.gasPriceWei, '9', 4) }} gwei</td>
              </tr>
              <tr *ngIf="tx?.ethereum?.revertReason">
                <td>Revert reason</td>
                <td class="ethereum-detail-error">{{ tx.ethereum.revertReason }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="(isLoadingTx && !error) || loadingCachedTx">
    <br>

    <div class="title">
      <h2>From &amp; To</h2>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br>

    <div class="title">
      <h2 i18n="transaction.details|Transaction Details">Details</h2>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <table class="table table-borderless table-striped">
            <tbody>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
              <tr>
                <td><span class="skeleton-loader"></span></td>
                <td><span class="skeleton-loader"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="error && !loadingCachedTx">

    <div class="text-center" *ngIf="waitingForTransaction; else errorTemplate">
      <h3 i18n="transaction.error.transaction-not-found">Transaction not found.</h3>
      <h5 i18n="transaction.error.waiting-for-it-to-appear">Waiting for it to appear in the mempool...</h5>
      <div class="spinner-border text-light mt-2"></div>
    </div>

    <ng-template #errorTemplate>
      <app-http-error [error]="error">
        <span i18n="transaction.error.loading-transaction-data">Error loading transaction data.</span>
      </app-http-error>
    </ng-template>
  </ng-template>

</div>
